body {
    background-color: #d8e3e7;
    margin-top: 0;
    font-family: 'Bitter', serif;
}

h1 {
    display: inline;
    font-size: 50px;
}

h2 {
    color: #6e7c7c;
    margin-top: 5px;
}

h3 {
    color: #3b5360;
    margin-left: 10px;
    margin-right: 20px;
    position: absolute;
    text-align:justify;
}
h4 {
    color: #34626c;
    margin-left: 10px;
    text-align:justify;
}
.allItems{
    width: 95%;
    align-items: center;
    margin: auto;
}
.menuSize2 h4, .menuSize3 h4{
    margin-left: 20px;
    color: #707070;

}
.main {
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    background-color: white;
}

section {
    height: 40px;
    margin: 10px;
    background-image: url("Backgrounds/stripes-light.png");
}
.text{
    margin-right: 80px;
}

hr {
    width: 90%;
    border-top: 1px dotted grey;
    margin-left: 0;
}

ul {
    list-style-type: '▸︎';
}

p {
    color: black;
}

.dotted {
    text-decoration-style: dotted;
}

.link {
    color: #ff79cd;
}

.head {
    top: 0;
    background-color: white;
    background-image: url("Backgrounds/Asset 2@500x-100.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 280px;
    justify-content: center;
    margin: 0 auto auto;
}

.style1 {
    color: #3b5360;
}

.style2 {
    color: #ff79cd;
}

.textHead {
    position: relative;
    left: 50px;
    top: 50px;
    width: fit-content;
    text-align: center;

}
.container{
    display: flex;
}
.column, .menu{
    width: 200%;
}
.row2{
    margin-left: 160px;
}
/*Menus left*/
.menu1 {
    height: 700px;
}
.menu2 {
    height: 200px;
}


.menu3 {
    height: 400px;
}

.listItem {
    color: #ff79cd;
}

/*Menus right*/
.menuRight1 {
    height: 12rem;
}

.menuRight2 {
    height: 20rem;
}

.menuRight3 {
    height: 20rem;
}

.menuRight4 {
    height: 25rem;
}

.menuRight5 {
    height: 15rem;
    margin-bottom: 3%;
}

.menuSize {
    margin-left: 200px;
    margin-right: 20px;
    justify-content: center;
}

.menuSize2 {
    margin-right: 200px;
    justify-content: center;
}
